body, html{
  margin: 0;
  padding: 0;
  background-color: brown;
  width: 100%;
}

header {
  align-items:center;
  font-family:'Times New Roman', Times, serif;
  justify-content:center;
  background: rgba(122, 121, 121, 0.1);
  padding: 0px;
  position: fixed;
  top:0;
  width: 100%;
  margin-bottom: 100px;
  transition: all 0.8s ease-in-out;
  backdrop-filter: blur(10px);
  border-bottom-width: 1px;
  border-bottom-color: aliceblue;
  border-bottom: 1px solid rgb(223, 219, 219, .5);
}

header::before{
  content: '';
  position:absolute;
  top:0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2)) transparent;
  transition: .3s;
}

header:hover::before{
  left: 100%;
}

header:hover{
  background-color: transparent;
  backdrop-filter: blur(150px);
}

nav {
  margin: 0;
  display: flex;
  align-items: center; 
  flex-wrap:wrap;
  float:right;
  margin-right: 50px;
}

.logo{
  display: flex;
  float: left;
  height: 30px;
  width: 30px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  padding: 20px 25px;
  display: block;
  background-color: transparent;
  transition: all 0.5s ease-out;
}

nav a:hover {
  background-color: red;
  color: white;
  transition: background-color 0.3s ease;
}

footer{
  background-color: black;
  display: block;
}

img{
  width: 100%;
}

.titre{
  position: absolute;
}


nav.content {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;    
    min-height: 80vh;       
    text-align: center;      
}

@media (max-width: 768px) {
  nav > a{
    font-size: 50%;
  }
}

