/*PARTIE COMMUNE*/
body, html{
  margin: 0;
  padding: 0;
  width: 100%;
  background-color:#262626;
}
header {
  align-items:center;
  justify-content:center;
  background: rgba(122, 121, 121, 0.05);
  padding: 0px;
  position: fixed;
  top:0;
  width: 100%;
  margin-bottom: 100px;
  transition: all 0.8s ease-in-out;
  backdrop-filter: blur(10px);
  z-index: 5;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  font-family:'Times New Roman', Times, serif;
}
header::before{
  content: '';
  position:absolute;
  top:0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2)) transparent;
  transition: .3s;
  border-bottom-color: aliceblue;
  border-bottom: 1px solid rgb(223, 219, 219, .5);
}
header:hover::before{
  left: 100%;
}
header:hover{
  background-color: transparent;
  backdrop-filter: blur(150px);
}
nav {
  margin: 0;
  display: flex;
  align-items: center; 
  flex-wrap:wrap;
  float:right;
  margin-right: 120px;
  gap: 50px;
}
.logo img{
  display: flex;
  float: left;
  height: 4%;
  width: 4%;
  padding: 5px;
}

nav  button{
  text-decoration: none;
  color: white;
  position: relative;
  font-weight: 300;
  font-size: 24px;
  padding: 30px 20px;
  display: inline-block;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
  border-style: none;
}
nav button:hover , button span:hover{
  text-shadow: 5px 5px 5px rgba(255, 255, 255, 1);
}
nav #HISTOIRE{
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

nav #HISTOIRE:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  right: -20px;
  transition: 0.5s;
}

nav #HISTOIRE:hover {
  padding-right: 25px;
}

nav #HISTOIRE:hover::after{
  opacity: 1;
  right: 0;
}


nav #ECONOMIE{
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

nav #ECONOMIE:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  right: -20px;
  transition: 0.5s;
}

nav #ECONOMIE:hover {
  padding-right: 25px;
}

nav #ECONOMIE:hover::after{
  opacity: 1;
  right: 0;
}

nav #FONCTIONNEMENT{
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

nav #FONCTIONNEMENT:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  right: -20px;
  transition: 0.5s;
}

nav #FONCTIONNEMENT:hover {
  padding-right: 25px;
}

nav #FONCTIONNEMENT:hover::after{
  opacity: 1;
  right: 0;
}

nav #ETHIQUE{
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

nav #ETHIQUE:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  right: -20px;
  transition: 0.5s;
}

nav #ETHIQUE:hover {
  padding-right: 25px;
}

nav #ETHIQUE:hover::after{
  opacity: 1;
  right: 0;
}


/* PARTIE PERSO*/

/*PREMIERE SECTION*/
section {
    color:white;
}

h1, h2 {
    color:white;
    align-content: center;
}

.section1 {
    position: relative;
}

.section1 h1,h2 {
    font-size:4em;
}

.img_fond {
    object-fit: cover;
    height:100%;
    width: 100%;
    display:block;
}

.section1 .div1 {
    position: absolute;
    top:40%;
    left:10%;
    color: white;
    text-align: center;
}

section {
    color: white;
}
